<main class="container page-tab pt-3" id="tab-accountSettings">
    <form class="dark" id="settings">
        <div class="card form-group-group p-3 bg-dark mb-3 shadow green">
            <h4><%- $user.mail %></h4>
            <div>
                <span class="badge badge-info"><%- lang['Group Key'] %> : <%- $user.ke %></span>
            </div>
        </div>
        <%
          const details = $user.details
        %>
        <% Object.keys(define['Account Settings'].blocks).forEach(function(blockKey) { -%>
            <%- include('drawBlock', {
                    theBlock: define['Account Settings'].blocks[blockKey],
                    details: details
                }) %>
            <%  }) -%>
        <%- include('stickySubmitBar'); %>
    </form>
</main>
