<main class="page-tab pt-3" id="tab-monitorMap">
   <form class="dark row">
       <%
       var pageName = 'Monitor Map';
       Object.keys(define[pageName].blocks).forEach(function(blockKey) { -%>
        <%- include('drawBlock', {
              theBlock: define[pageName].blocks[blockKey]
            }) %>
      <%  }) -%>

   </form>
   <link rel="stylesheet" href="<%-window.libURL%>assets/css/bs5.monitorMap.css" />
   <script src="<%-window.libURL%>assets/js/bs5.monitorMap.utils.js"></script>
   <script src="<%-window.libURL%>assets/js/bs5.monitorMap.js"></script>
   <script src="<%-window.libURL%>assets/js/bs5.monitorSettings.monitorMap.js"></script>
</main>
